/* Style the header */

header {
  width: 30rem;
  padding: 3rem;
  border: 20px solid #58321d;
  border-radius: 20px;
  margin: auto
}
    
header img {
  width: 30rem;
}

    
header h1 {
  text-align: center;
  color: #311FD1;
}
    
/* Style the intro paragraph */

p.intro {
  text-align: center;
  font-size: 2rem;
  width: 50rem;
  padding: 3rem;
  margin: auto
}

/* Center all h2 headings */

h2 {
  text-align: center;
}

/* Style the portfolio sections */

article.portfolio-entries {
  width: 45rem;
  padding: 1rem;
  margin: auto;
}
  
section {
  width: inherit;
  padding: inherit;
  border: 3px solid #58321d;
  margin-bottom: 1rem;
  background-color: beige;
}

section p {
  font-size: 1.2rem;
}

/* Style link behavior */
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style the footer */

footer {
  text-align: center;
}

/* Style the About page */

article.about {
  font-size: 1.2rem;
  width: 50rem;
  padding: 1rem;
  border: 3px solid #58321d;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: azure;
}

ul.how {
  list-style-type: square;
}

/* Style the Bio page */
h1 {
  text-align: center;
}

article.bio {
  font-size: 1.2rem;
  width: 60rem;
  padding: 1rem;
  border: 3px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: bisque;
}

article.links {
  width: 60rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

article.links ul {
  list-style-type: none;
}

article.bio img {
  width: 300px;
}

